1. Create a DataFrame as below this using two ways:

    From a NumPy array

    From a Pandas Series
```
	color	list	number
1	Blue	[1, 2]	1.1
3	Red	[3, 4]	2.2
5	Pink	[5, 6]	3.3
7	Grey	[7, 8]	4.4
9	Black	[9, 10]	5.5

In [23]:
import numpy as np

arr = np.array([
    ["Blue", [1, 2], 1.1],
    ["Red", [3, 4], 2.2],
    ["Pink", [5, 6], 3.3],
    ["Grey", [7, 8], 4.4],
    ["Black", [9, 10], 5.5]
], dtype=object)

df1 =pd.DataFrame(arr, columns=["color", "list", "number"], index=[1, 3, 5, 7, 9])

print(df1, '\n')

   color     list number
1   Blue   [1, 2]    1.1
3    Red   [3, 4]    2.2
5   Pink   [5, 6]    3.3
7   Grey   [7, 8]    4.4
9  Black  [9, 10]    5.5

In [24]:
import pandas as pd

color = pd.Series(["Blue", "Red", "Pink", "Grey", "Black"], index = [1, 3, 5, 7, 9])
list = pd.Series([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]], index = [1, 3, 5, 7, 9])
number = pd.Series([1.1, 2.2, 3.3, 4.4, 5.5], index = [1, 3, 5, 7, 9])

df2 = pd.DataFrame({"color": color, "list": list, "number": number})

print(df2, '\n')

   color     list  number
1   Blue   [1, 2]     1.1
3    Red   [3, 4]     2.2
5   Pink   [5, 6]     3.3
7   Grey   [7, 8]     4.4
9  Black  [9, 10]     5.5

2. Print the types for every column and the types of the first value of every column

In [26]:
print("Data Types: From numpy array")
print(df1.dtypes, '\n')

print("Data Types: From pandas series")
print(df2.dtypes, '\n')

print("Type of first value in each column:")
for col in df2.columns:
    print(f"{col}: {type(df2.iloc[0][col])}")

Data Types: From numpy array
color     object
list      object
number    object
dtype: object

Data Types: From pandas series
color      object
list       object
number    float64
dtype: object

Type of first value in each column:
color: <class 'str'>
list: <class 'list'>
number: <class 'numpy.float64'>