1. Delete the columns Time, Sub_metering_2 and Sub_metering_3

In [15]:
import pandas as pd

data = pd.read_csv(
    "../data/household_power_consumption.txt", 
    sep=";", 
    low_memory =False
)

data_drop = data.drop(['Time', 'Sub_metering_2', 'Sub_metering_3'], axis=1)

print(data_drop)

             Date Global_active_power Global_reactive_power  Voltage  \
0      16/12/2006               4.216                 0.418  234.840
1      16/12/2006               5.360                 0.436  233.630
2      16/12/2006               5.374                 0.498  233.290
3      16/12/2006               5.388                 0.502  233.740
4      16/12/2006               3.666                 0.528  235.680
...           ...                 ...                   ...      ...
65639   31/1/2007               0.698                 0.134  240.810
65640   31/1/2007               0.706                 0.134  240.600
65641   31/1/2007               0.698                 0.122  241.600
65642   31/1/2007               0.638                 0.000  241.460
65643   31/1/2007                 NaN                   NaN      NaN

      Global_intensity Sub_metering_1
0               18.400          0.000
1               23.000          0.000
2               23.000          0.000
3               23.000          0.000
4               15.800          0.000
...                ...            ...
65639            3.000          0.000
65640            3.000          0.000
65641            3.000          0.000
65642            2.600          0.000
65643              NaN            NaN

[65644 rows x 6 columns]

2. Set Date as index

In [16]:
df = pd.DataFrame(data_drop)
df_indexed = df.set_index('Date')

print(df_indexed)

           Global_active_power Global_reactive_power  Voltage  \
Date
16/12/2006               4.216                 0.418  234.840
16/12/2006               5.360                 0.436  233.630
16/12/2006               5.374                 0.498  233.290
16/12/2006               5.388                 0.502  233.740
16/12/2006               3.666                 0.528  235.680
...                        ...                   ...      ...
31/1/2007                0.698                 0.134  240.810
31/1/2007                0.706                 0.134  240.600
31/1/2007                0.698                 0.122  241.600
31/1/2007                0.638                 0.000  241.460
31/1/2007                  NaN                   NaN      NaN

           Global_intensity Sub_metering_1
Date
16/12/2006           18.400          0.000
16/12/2006           23.000          0.000
16/12/2006           23.000          0.000
16/12/2006           23.000          0.000
16/12/2006           15.800          0.000
...                     ...            ...
31/1/2007             3.000          0.000
31/1/2007             3.000          0.000
31/1/2007             3.000          0.000
31/1/2007             2.600          0.000
31/1/2007               NaN            NaN

[65644 rows x 5 columns]